name: Test Nessie Reusable
on:
  workflow_call:
    inputs:
      artifact-name:
        description: "Name of the DuckDB-Iceberg artifact to download"
        required: true
        type: string

jobs:
  test-nessie:
    name: Test against Nessie Catalog
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: 'true'

      - name: Download DuckDB-Iceberg artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifact-name }}
          path: build/release

      - name: Restore permissions
        run: |
          find ./build/release -type f -name 'duckdb*' -exec chmod +x {} \;
          find ./build/release -type f -name 'unittest*' -exec chmod +x {} \;

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1

      - name: Install Nessie dependencies
        run: |
          sudo apt update -y -qq
          sudo apt install -y -qq python3-venv
          git clone https://github.com/projectnessie/nessie.git nessie

      - name: Start Nessie
        working-directory: nessie/docker
        run: |
          # replace $ with $$ in all healthcheck lines, otherwise there are interpolation errors
          # on github machines for some reason
          sed -i '/healthcheck/,/]/ s/\$/$$/g' catalog-auth-s3/docker-compose.yml
          # lower client timeouts because they cannot be longer than realm timeouts.
          # all client timeouts are 86400 right now
          sed -i 's/86400/1800/g' authn-keycloak/config/iceberg-realm.json
          docker compose -f catalog-auth-s3/docker-compose.yml up -d

      - name: Wait for Nessie/Keycloak
        run: |
          max_attempts=30
          attempt=1
          sleep 10
          while ! curl -sf "http://localhost:8080/realms/master/.well-known/openid-configuration"; do
            if [ $attempt -gt $max_attempts ]; then
              echo "Keycloak failed to initialize after $max_attempts attempts"
              exit 1
            fi
            echo "Waiting for Keycloak to initialize (attempt $attempt/$max_attempts)..."
            sleep 5
            attempt=$((attempt + 1))
          done
          echo "Keycloak is healthy"

      - name: Install required python packages
        run: |
          python3 -m venv .venv-spark4
          source .venv-spark4/bin/activate
          python3 -m pip install -r scripts/requirements.txt

      - name: Generate data
        run: |
          source .venv-spark4/bin/activate
          make data

      - name: Run Generic Tests With Nessie
        env:
          ICEBERG_SERVER_AVAILABLE: 1
          DUCKDB_ICEBERG_HAVE_GENERATED_DATA: 1
          SECRETS_CREATED_AND_CATALOG_ATTACHED: 1
        run: |
          ./build/release/test/unittest "$PWD/test/sql/local/irc_any_catalog/*" --list-test-names-only || true
          ./build/release/test/unittest "$PWD/test/sql/local/irc_any_catalog/*" --test-config test/configs/nessie.json  --autoloading available

      - name: Run Nessie Specific Tests
        env:
          NESSIE_SERVER_AVAILABLE: 1
        run: |
          ./build/release/test/unittest "$PWD/test/*" --list-test-names-only || true
          ./build/release/test/unittest "$PWD/test/*"
